<div class="flex flex-col w-full gap-1">
    <div class="relative w-full">
        <input [type]="showPassword ? 'text' : 'password'" [value]="value" [placeholder]="placeholder"
            [disabled]="disabled" [readOnly]="readonly" (input)="onInputChange($event)" (focus)="isFocused = true"
            (blur)="isFocused = false" class="w-full rounded transition-all duration-200 focus:outline-none pr-10"
            [ngClass]="{
                'px-2 py-1 text-xs': sizeVariant === 'sm',
                'px-3 py-2 text-sm': sizeVariant === 'md',
                'px-4 py-3 text-base': sizeVariant === 'lg',
                'opacity-50 cursor-not-allowed': disabled
            }" [style.border]="isFocused ? activeBorderStyle : borderStyle"
            [style.outline]="isFocused ? activeOutline : outline"
            [style.color]="isFocused ? activeTextColor : textColor"
            [style.background-color]="isFocused ? activeBackgroundColor : backgroundColor" />

        <button type="button" (click)="toggleVisibility()"
            class="absolute right-2 top-1/2 -translate-y-1/2 flex items-center justify-center text-gray-500 hover:text-gray-700 focus:outline-none"
            [disabled]="disabled">
            @if(showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l18 18" />
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
            }
        </button>
    </div>

    @if (needValidationStatusMessage && errors.length > 0) {
    <div class="mt-1">
        @for (error of errors; track error) {
        <p class="text-red-500 text-xs mt-0.5">{{ error }}</p>
        }
    </div>
    }
</div>